In [2]:
import FinanceDataReader as fdr
import pandas as pd

---

# 지수

In [27]:
# kospi 하루만
df = fdr.DataReader('KS11', '2022-02-17')
df

              Close     Open     High      Low    Volume  Change
Date
2022-02-17  2744.09  2735.11  2770.66  2711.99  602260.0  0.0053
2022-02-18  2742.94  2714.52  2747.08  2711.88  402230.0 -0.0004

In [28]:
df.index

DatetimeIndex(['2022-02-17', '2022-02-18'], dtype='datetime64[ns]', name='Date', freq=None)

In [34]:
# kospi 하루만 가져오기
df = fdr.DataReader('KS11', '2022-02-18')
df.loc['2022-02']

              Close     Open     High      Low    Volume  Change
Date
2022-02-18  2742.76  2714.52  2747.08  2711.88  403030.0 -0.0005

In [30]:
df = fdr.DataReader('KS11', '2022-02-16')
df

              Close     Open     High      Low       Volume  Change
Date
2022-02-16  2729.68  2719.61  2730.43  2711.34  422370000.0  0.0199
2022-02-17  2744.09  2735.11  2770.66  2711.99     602260.0  0.0053
2022-02-18  2742.94  2714.52  2747.08  2711.88     402230.0 -0.0004

In [31]:
df.tail(10)

              Close     Open     High      Low       Volume  Change
Date
2022-02-16  2729.68  2719.61  2730.43  2711.34  422370000.0  0.0199
2022-02-17  2744.09  2735.11  2770.66  2711.99     602260.0  0.0053
2022-02-18  2742.94  2714.52  2747.08  2711.88     402230.0 -0.0004

In [35]:
df = fdr.DataReader('KS200', '2022-02-17')
df

             Close    Open    High     Low    Volume  Change
Date
2022-02-17  369.55  368.32  373.00  365.48  207760.0  0.0061
2022-02-18  368.57  365.33  369.32  364.84  110840.0 -0.0027

In [56]:
# 나스닥 지수
nasdaq_idx = fdr.DataReader('IXIC', '2022-02-16')
nasdaq_idx

               Close      Open      High       Low       Volume  Change
Date
2022-02-16  14124.09  14038.92  14163.73  13931.99  838990000.0 -0.0011
2022-02-17  13716.72  14004.19  14020.82  13704.70  922820000.0 -0.0288

In [57]:
# S&P500 지수
snp500_idx = fdr.DataReader('US500', '2022-02-16')
snp500_idx

              Close     Open     High      Low  Volume  Change
Date
2022-02-16  4475.01  4455.75  4489.55  4429.68     0.0  0.0009
2022-02-17  4380.26  4456.06  4456.06  4373.81     0.0 -0.0212

---


# 환율

In [37]:
# 환율 krw/usd
df = fdr.DataReader('USD/KRW', '2022')
df

              Close     Open     High      Low  Change
Date
2022-01-03  1193.00  1189.80  1193.86  1187.55  0.0042
2022-01-04  1197.49  1194.77  1199.49  1192.75  0.0038
2022-01-05  1198.20  1197.54  1200.18  1195.91  0.0006
2022-01-06  1204.95  1200.65  1207.11  1197.20  0.0056
2022-01-07  1197.63  1205.03  1205.78  1197.32 -0.0061
2022-01-10  1198.04  1198.20  1201.81  1195.95  0.0003
2022-01-11  1192.31  1198.14  1198.60  1192.30 -0.0048
2022-01-12  1185.87  1190.55  1193.20  1185.11 -0.0054
2022-01-13  1186.11  1185.96  1189.94  1184.04  0.0002
2022-01-14  1190.07  1186.77  1192.42  1185.67  0.0033
2022-01-17  1189.99  1190.55  1194.13  1189.49 -0.0001
2022-01-18  1192.69  1190.98  1194.33  1185.93  0.0023
2022-01-19  1188.13  1193.03  1193.94  1186.66 -0.0038
2022-01-20  1192.42  1188.21  1193.88  1187.19  0.0036
2022-01-21  1192.51  1192.49  1195.05  1190.14  0.0001
2022-01-24  1195.59  1193.30  1197.90  1192.49  0.0026
2022-01-25  1196.35  1195.69  1199.93  1195.17  0.0006
2022-01-26  1197.03  1196.35  1198.51  1194.29  0.0006
2022-01-27  1203.77  1200.75  1205.79  1200.15  0.0056
2022-01-28  1209.56  1203.82  1213.86  1203.65  0.0048
2022-01-31  1204.63  1209.71  1212.92  1204.20 -0.0041
2022-02-01  1202.31  1204.75  1208.01  1201.61 -0.0019
2022-02-02  1199.46  1202.47  1204.41  1198.82 -0.0024
2022-02-03  1199.47  1200.36  1207.19  1198.68  0.0000
2022-02-04  1198.25  1200.65  1202.05  1196.81 -0.0010
2022-02-07  1196.87  1199.00  1201.09  1196.72 -0.0012
2022-02-08  1196.35  1196.92  1200.38  1196.21 -0.0004
2022-02-09  1194.05  1196.40  1197.47  1193.02 -0.0019
2022-02-10  1199.83  1194.17  1200.65  1193.42  0.0048
2022-02-11  1199.48  1200.10  1201.87  1193.23 -0.0003
2022-02-14  1197.32  1200.10  1200.17  1193.93 -0.0018
2022-02-15  1196.76  1197.44  1200.59  1195.29 -0.0005
2022-02-16  1196.53  1196.86  1199.57  1195.22 -0.0002
2022-02-17  1198.63  1196.69  1200.06  1194.44  0.0018
2022-02-18  1195.43  1198.81  1199.04  1195.06 -0.0027

In [45]:
# 환율 krw/jpy
df = fdr.DataReader('JPY/KRW', '2022')
df

              Close     Open     High      Low  Change
Date
2022-01-03  10.3433  10.3294  10.3808  10.3021  0.0022
2022-01-04  10.3081  10.3481  10.3675  10.2852 -0.0034
2022-01-05  10.3177  10.3098  10.3547  10.2991  0.0009
2022-01-06  10.4009  10.3288  10.4336  10.3203  0.0081
2022-01-07  10.3619  10.4029  10.4137  10.3573 -0.0037
2022-01-10  10.3969  10.3574  10.4323  10.3323  0.0034
2022-01-11  10.3409  10.3991  10.4066  10.3173 -0.0054
2022-01-12  10.3443  10.3431  10.3700  10.2992  0.0003
2022-01-13  10.3853  10.3455  10.4186  10.3361  0.0040
2022-01-14  10.4182  10.3934  10.4824  10.3889  0.0032
2022-01-17  10.3802  10.4213  10.4401  10.3823 -0.0036
2022-01-18  10.4056  10.3893  10.4235  10.3340  0.0024
2022-01-19  10.3903  10.4090  10.4416  10.3681 -0.0015
2022-01-20  10.4488  10.3924  10.4594  10.3812  0.0056
2022-01-21  10.4873  10.4508  10.5133  10.4431  0.0037
2022-01-24  10.4922  10.4927  10.5490  10.4722  0.0005
2022-01-25  10.5044  10.4944  10.5531  10.4810  0.0012
2022-01-26  10.4398  10.5044  10.5288  10.4278 -0.0061
2022-01-27  10.4322  10.4455  10.5097  10.4137 -0.0007
2022-01-28  10.4933  10.4349  10.5331  10.4271  0.0059
2022-01-31  10.4632  10.4982  10.5041  10.4481 -0.0029
2022-02-01  10.4786  10.4647  10.5149  10.4558  0.0015
2022-02-02  10.4784  10.4813  10.5308  10.4746 -0.0000
2022-02-03  10.4302  10.4876  10.5493  10.4306 -0.0046
2022-02-04  10.3988  10.4431  10.4650  10.3932 -0.0030
2022-02-07  10.3940  10.4004  10.4413  10.3867 -0.0005
2022-02-08  10.3526  10.3994  10.4107  10.3470 -0.0040
2022-02-09  10.3363  10.3539  10.3721  10.3263 -0.0016
2022-02-10  10.3407  10.3387  10.3687  10.2933  0.0004
2022-02-11  10.3905  10.3425  10.4277  10.2912  0.0048
2022-02-14  10.3610  10.4080  10.4166  10.3360 -0.0028
2022-02-15  10.3481  10.3635  10.4101  10.3306 -0.0012
2022-02-16  10.3623  10.3504  10.3944  10.3274  0.0014
2022-02-17  10.4283  10.3641  10.4376  10.3454  0.0064
2022-02-18  10.3791  10.4317  10.4438  10.3751 -0.0047

In [41]:
# 환율 KRW/EUR
df = fdr.DataReader('KRW/EUR', '2022')
df

               Close      Open      High       Low  Change
Date
2022-01-02  0.000740  0.000740  0.000740  0.000739  0.0000
2022-01-03  0.000742  0.000740  0.000743  0.000737  0.0026
2022-01-04  0.000740  0.000741  0.000742  0.000738 -0.0027
2022-01-05  0.000737  0.000740  0.000741  0.000736 -0.0041
2022-01-06  0.000734  0.000737  0.000738  0.000733 -0.0034
2022-01-07  0.000735  0.000734  0.000737  0.000732  0.0007
2022-01-09  0.000735  0.000735  0.000736  0.000735  0.0013
2022-01-10  0.000737  0.000735  0.000739  0.000733  0.0017
2022-01-11  0.000740  0.000737  0.000740  0.000737  0.0039
2022-01-12  0.000737  0.000740  0.000740  0.000736 -0.0035
2022-01-13  0.000735  0.000737  0.000737  0.000735 -0.0021
2022-01-14  0.000736  0.000735  0.000737  0.000733  0.0014
2022-01-16  0.000736  0.000736  0.000737  0.000736  0.0000
2022-01-17  0.000736  0.000736  0.000737  0.000733  0.0000
2022-01-18  0.000740  0.000736  0.000741  0.000736  0.0058
2022-01-19  0.000742  0.000740  0.000743  0.000739  0.0017
2022-01-20  0.000741  0.000742  0.000743  0.000739  0.0000
2022-01-21  0.000739  0.000741  0.000742  0.000738 -0.0028
2022-01-23  0.000739  0.000739  0.000740  0.000739  0.0000
2022-01-24  0.000738  0.000739  0.000740  0.000736 -0.0013
2022-01-25  0.000739  0.000739  0.000741  0.000737  0.0014
2022-01-26  0.000741  0.000739  0.000743  0.000738  0.0017
2022-01-27  0.000746  0.000741  0.000747  0.000739  0.0065
2022-01-28  0.000742  0.000746  0.000746  0.000739 -0.0054
2022-01-30  0.000741  0.000742  0.000742  0.000741  0.0000
2022-01-31  0.000738  0.000741  0.000742  0.000737 -0.0043
2022-02-01  0.000738  0.000738  0.000739  0.000737 -0.0008
2022-02-02  0.000737  0.000738  0.000738  0.000735 -0.0007
2022-02-03  0.000728  0.000737  0.000737  0.000727 -0.0131
2022-02-04  0.000729  0.000728  0.000730  0.000726  0.0014
2022-02-06  0.000729  0.000728  0.000729  0.000728  0.0000
2022-02-07  0.000730  0.000729  0.000731  0.000728  0.0025
2022-02-08  0.000732  0.000730  0.000733  0.000729  0.0023
2022-02-09  0.000733  0.000732  0.000733  0.000731  0.0014
2022-02-10  0.000730  0.000733  0.000733  0.000727 -0.0036
2022-02-11  0.000734  0.000731  0.000736  0.000729  0.0054
2022-02-13  0.000734  0.000734  0.000734  0.000734  0.0000
2022-02-14  0.000739  0.000734  0.000740  0.000733  0.0060
2022-02-15  0.000736  0.000739  0.000739  0.000735 -0.0042
2022-02-16  0.000735  0.000736  0.000737  0.000733 -0.0013
2022-02-17  0.000734  0.000735  0.000736  0.000733 -0.0008
2022-02-18  0.000736  0.000734  0.000736  0.000734  0.0021

In [42]:
# 환율 KRW/UER
df = fdr.DataReader('CNY/KRW', '2022')
df

             Close    Open    High     Low  Change
Date
2022-01-03  187.58  187.12  187.83  186.84  0.0043
2022-01-04  187.90  188.00  188.18  187.13  0.0017
2022-01-05  188.26  187.92  188.46  187.76  0.0019
2022-01-06  188.75  188.65  189.35  187.90  0.0026
2022-01-07  187.75  188.79  189.13  187.73 -0.0053
2022-01-10  187.87  187.87  188.54  187.60  0.0006
2022-01-11  187.04  187.90  187.98  187.03 -0.0044
2022-01-12  186.49  186.77  187.49  186.38 -0.0029
2022-01-13  186.49  186.51  187.13  186.12  0.0000
2022-01-14  187.32  186.60  187.70  186.47  0.0045
2022-01-17  187.42  187.41  188.16  187.24  0.0005
2022-01-18  187.72  187.59  188.02  187.01  0.0016
2022-01-19  187.25  187.79  187.96  187.01 -0.0025
2022-01-20  188.03  187.27  188.27  187.10  0.0042
2022-01-21  188.11  188.05  188.51  187.74  0.0004
2022-01-24  188.84  188.24  189.34  188.17  0.0039
2022-01-25  189.10  188.87  189.62  188.79  0.0014
2022-01-26  189.37  189.11  189.63  188.90  0.0014
2022-01-27  188.91  189.96  190.42  188.85 -0.0024
2022-01-28  190.14  189.04  190.86  189.01  0.0065
2022-01-31  189.36  190.18  190.68  189.31 -0.0041
2022-02-01  189.00  189.40  189.91  188.90 -0.0019
2022-02-02  188.55  189.04  189.34  188.46 -0.0024
2022-02-03  188.55  188.71  189.78  188.45  0.0000
2022-02-04  188.36  188.75  188.97  188.15 -0.0010
2022-02-07  188.00  189.34  189.46  188.10 -0.0019
2022-02-08  187.90  188.13  188.57  187.90 -0.0005
2022-02-09  187.64  187.92  188.15  187.49 -0.0014
2022-02-10  188.78  187.68  188.96  187.59  0.0061
2022-02-11  188.74  188.87  189.15  187.72 -0.0002
2022-02-14  188.30  188.80  188.86  187.71 -0.0023
2022-02-15  188.77  188.35  189.08  188.16  0.0025
2022-02-16  188.69  188.80  189.29  188.54 -0.0004
2022-02-17  189.10  188.84  189.38  188.59  0.0022
2022-02-18  188.72  189.17  189.20  188.66 -0.0020

---

# 금리

In [54]:
# 미국 국채 금리(20년, 10년, 5년, 1년)
DGS = fdr.DataReader(['DGS20', 'DGS10', 'DGS5', 'DGS1'], start='2022', data_source='fred')
DGS

            DGS20  DGS10  DGS5  DGS1
DATE
2022-01-03   2.05   1.63  1.37  0.40
2022-01-04   2.10   1.66  1.37  0.38
2022-01-05   2.12   1.71  1.43  0.41
2022-01-06   2.12   1.73  1.47  0.45
2022-01-07   2.15   1.76  1.50  0.43
2022-01-10   2.15   1.78  1.53  0.46
2022-01-11   2.13   1.75  1.51  0.46
2022-01-12   2.13   1.74  1.50  0.48
2022-01-13   2.10   1.70  1.47  0.47
2022-01-14   2.18   1.78  1.55  0.51
2022-01-17   2.18   1.78  1.55  0.51
2022-01-18   2.24   1.87  1.65  0.58
2022-01-19   2.20   1.83  1.62  0.57
2022-01-20   2.19   1.83  1.62  0.60
2022-01-21   2.13   1.75  1.54  0.58
2022-01-24   2.15   1.75  1.53  0.58
2022-01-25   2.18   1.78  1.56  0.65
2022-01-26   2.22   1.85  1.66  0.70
2022-01-27   2.17   1.81  1.66  0.75
2022-01-28   2.14   1.78  1.61  0.75
2022-01-31   2.17   1.79  1.62  0.78
2022-02-01   2.19   1.81  1.63  0.78
2022-02-02   2.17   1.78  1.60  0.76
2022-02-03   2.20   1.82  1.66  0.78
2022-02-04   2.29   1.93  1.78  0.89
2022-02-07   2.28   1.92  1.76  0.88
2022-02-08   2.31   1.96  1.81  0.91
2022-02-09   2.31   1.94  1.82  0.91
2022-02-10   2.37   2.03  1.96  1.14
2022-02-11   2.30   1.92  1.84  1.07
2022-02-14   2.35   1.98  1.90  1.13
2022-02-15   2.42   2.05  1.94  1.11
2022-02-16   2.39   2.03  1.90  1.09